SimpleMathSolver/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Services" xmlns:intf="http://Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="find_prime">
    <complexType/>
   </element>
   <element name="find_primeResponse">
    <complexType/>
   </element>
   <element name="check_prime">
    <complexType/>
   </element>
   <element name="check_primeResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="check_primeRequest">

      <wsdl:part element="impl:check_prime" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="find_primeRequest">

      <wsdl:part element="impl:find_prime" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="find_primeResponse">

      <wsdl:part element="impl:find_primeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="check_primeResponse">

      <wsdl:part element="impl:check_primeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="find_prime">

         <wsdl:input message="impl:find_primeRequest" name="find_primeRequest">

       </wsdl:input>

         <wsdl:output message="impl:find_primeResponse" name="find_primeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="check_prime">

         <wsdl:input message="impl:check_primeRequest" name="check_primeRequest">

       </wsdl:input>

         <wsdl:output message="impl:check_primeResponse" name="check_primeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="find_prime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="find_primeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="find_primeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="check_prime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="check_primeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="check_primeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/SimpleMathSolver/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
